        /* Starting Line Before Navbar */

body{
    overflow-x: hidden;

}
        
.before-navbar-container{
    background-color: #E6E6E6;
}

.before-navbar-container p{
    color: #6e6e6e;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3.5px 13.5px;
}

.meezan-logo img {
    padding: 8px 0px 0px 20px;
    width: 215px
}

        /* Menu bar */

        /* #menu-toggle {
            display: none;
        }
        
        .menu-icon {
            display: none;
            z-index: 10000;
            font-size: 30px;
            cursor: pointer;
            color: #333;
        }

        .menu-icon:hover {
            display: none;
            content: '×';
        } */

        #menu-toggle {
            display: none;
        }
        
        .menu-icon {
            cursor: pointer;
            width: 30px;
            position: absolute;
            z-index: 1001;
            display: none;
        }
        
        .menu-icon .menu-line {
            width: 30px;
            height: 3px;
            background-color: black;
            margin: 5px 0;
            transition: all 0.3s;
            
        }
        
        .menu {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #333;
            overflow: hidden;
            transition: width 0.3s;
            z-index: 1000;
        }
        
        .menu ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-top: 50px;
            text-align: center;
        }
        
        .menu ul li {
            
        }
        
        .menu ul li a {
            text-decoration: none;
            /* display: none; */
            color: white;
            font-size: 18px;
        }
        

        #menu-toggle:checked + .menu-icon .menu-line:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }
        
        #menu-toggle:checked + .menu-icon .menu-line:nth-child(2) {
            opacity: 0;
        }
        
        #menu-toggle:checked + .menu-icon .menu-line:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
        }
        
        #menu-toggle:checked ~ .menu {
            width: 250px;
        }

        .menu {
            /* width: 300px; */
            /* height: 100%; */
            position: absolute;
            top: 0;
            left: -100%;
            background-color: #fff;
            transition: left 0.3s ease;
            z-index: 999;
            display: flex;
            flex-direction: column;
            justify-content: center
        }
        
        .menu ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        
        .menu ul li {
            height: 65px;
        }
        
        .menu ul li a {
            text-decoration: none;
            font-size: 18px;
            color: #6F237B;
            padding: 17px 5px;
            font-size: 1.8rem;
            font-family: "Roboto", sans-serif;
            width: 100%;
            align-items: center;
            display: flex;
        }
        .menu ul li a:hover {
            background-color: #EDEDED;
        }

        .menu ul li a span{
            font-size: 18px;
            color: #6F237B;
            margin: 0px 0px 0px 10px;
            font-size: 1.8rem;
            font-family: "Roboto", sans-serif;
            
        }

        .menu ul li a i{
            font-size: 2.8rem;
            color: #6F237B;
            border: 1px solid #808080;
            padding: 3px 10px;
            
        }

        .fa-calculator{
            font-size: 3rem !important;
            padding: 3px 11px;
        }

        .fa-laptop{
            font-size: 2.6rem !important;
            padding: 3px 5px !important;
        }

        .fa-briefcase{
            padding: 3px 8px !important;
        }

        .fa-credit-card{
            padding: 3px 7px !important;
        }

        .fa-file{
            padding: 4px 11.5px !important;
        }

        .menu ul li a i{
            font-size: 2.6rem;
            color: #6F237B;
            border: 1px solid #808080;
        }
        
        #menu-toggle:checked ~ .menu {
            left: 0;
        }
    
        
        .content {
            padding: 20px;
            margin-left: 0;
            transition: margin-left 0.3s ease;
        }
        

        /* Ended */

        /* Navbar Started */
.anchor-tags-nav{
    display: flex;
    text-align: center;
    font-size: 2.3rem;
}

.anchor-tags-nav a{
    border-right: 1px solid #D3D3D3;
    text-decoration: none;
    height: 75px;
    padding: 0 4px;
    text-align: center;
    line-height: 75px;
    display: flex;  
    color: #343434;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.anchor-tags-nav a:hover{
    background-color: #FFD400;
}

.anchor-tags-nav a:nth-child(1){
    border-left: 1px solid #D3D3D3;
    padding: 0px 19px;
    margin-left: 11.5px;
    text-align: center;
}

.anchor-tags-nav a:nth-child(2){
    padding: 0px 19px;
    text-align: center;
}

.anchor-tags-nav a:nth-child(3){
    padding: 0px 19.5px;
    text-align: center;
}

.anchor-tags-nav a:nth-child(4){
    padding: 0px 19.5px;
    text-align: center;
}

        /* Form */

.navbar-search-input input{
    /* position: relative; */
    width: 165px;
    height: 40%;
    margin: 21px 0 0 12px;
    padding: 5px 30px 5px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #e5e5e5;
}

.navbar-search-input{
    position: relative;
}

.navbar-search-input i{
    position: absolute;
    right: 10px;
    top: 38%;
    font-size: 1.4rem;
    color: #959595;
}

        /* Last Part for Navbar */

.login-part-nav {
    font-family: Arial, Helvetica, sans-serif;
    height: 75px;
    padding: 0 20px;
    color: #fff;
    line-height: 75px;
    font-size: 1.8rem;
    background-color: #701e7d;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.login-part-nav:hover {
    background-color: #FFD400 !important;
    color: #701e7d !important;
}

.login-part-nav:hover .internet-banking-span {
    color: #701e7d;
}

/* Menu Bar Started */

.menu-toggle-checkbox {
    display: none;
}

/* Ended */

.search-icon{
    display: none;
    cursor: pointer;
    font-size: 2.3rem;
}

.menu-toggle-label {
    display: none;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-align: left;
}

/* Ended */

.internet-banking-span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #ffd400;
}

.login-part-nav i {
    margin-left: 7px;
}


        /* Navbar Ended */

        /* Marquee Started */
.marquee {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    background: #f1f1f1;
    border: 1px solid #ddd;
    width: 100%;
    height: 24px;
}
          
.marquee-content {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 45s linear infinite;
    position: absolute;
    top: 4px;
    cursor: pointer;
}
          
.marquee-content p {
    font-size: 14px;
    color: #510051;
    font-weight: 550;
    display: inline;
    margin: 0;
    padding-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
          
@keyframes marquee {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

        /* Marquee Ended */

        /* Background Images Started */

.slideshow-container {
    position: relative;
    width: 100%;  
    height: 535px; 
    overflow-x: hidden !important;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade 16s infinite;
}

@keyframes fade {
    0%   { opacity: 0; }
    4%   { opacity: 1; }
    25%  { opacity: 1; }
    29%  { opacity: 0; }
    100% { opacity: 0; }
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 4s;
}

.slide:nth-child(3) {
    animation-delay: 8s;
}

.slide:nth-child(4) {
    animation-delay: 12s;
}

        /* Background Images Ended */
        
        /* Right Side Of the Image Styling and animation transition */

        /* Default Behavious Styling */

/* .container-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    right: 0;
    overflow: hidden;
    background-color: #701E7D;
    width: 250px;
}

.container-wrapper>div{
    padding: 8px 0px 0px 8px;
}

.container-wrapper>div>a>i{
    border: 1px solid #fff;
    width: 50px;
    display: flex;
    
    align-items: center;
    height: 50px;
    color: #E0E1D9;
}

.container-wrapper>div>a{ 
    text-decoration: none;
    color: white;
} 

        Display None Property

.container-wrapper>div>a>div{ 
    display: none;
} 

.container-wrapper>div>a>div{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.container-wrapper i{
    font-size: 3rem;
}

.location-icon i{
    font-size: 3.3rem;
}

.hashtag-icon i{
    font-size: 3.1rem;
}

.calculator-icon i{
    font-size: 3.34rem;
}

.calculator-icon a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.wifi-icon a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.hashtag-icon a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.location-icon a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.book-icon a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.phone-icon a{
    display: flex;
    align-items: center;
    gap: 10px;
}

.wifi-icon i{
    font-size: 2.4rem;
}

.phone-icon i{
    font-size: 2.9rem;
}
    */
        /* Left Side Urdu */

.urdu-container-pos-fixed{
    z-index: 7;
    background-color: #71277A;
    cursor: pointer;
    position: fixed;
    top: 20.5%;
    width: 87px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 7px 7px 6px -5px rgba(0,0,0,0.58);
    -webkit-box-shadow: 7px 7px 6px -5px rgba(0,0,0,0.58);
    -moz-box-shadow: 7px 7px 6px -5px rgba(0,0,0,0.58);
}

.urdu-container-pos-fixed p{
    color: #FFDA61;
    padding: 12px;
    font-size: 2.5rem;
} 

.urdu-container-pos-fixed i{
    font-size: 1.5rem;
}

.urdu-lang{

} 

        /* Hover Animation Styling */


.main-div{
    overflow-x: hidden;
    width: 100%;
}

/* Container Styling */
.container-wrapper {
    display: flex;
    flex-direction: column;
    /* gap: 12px; */
    position: absolute;
    right: -194px; 
    bottom: 12%;
    border: 1px solid #fff;
    background-color: #701E7D;
    width: 250px;
    transition: right 0.7s ease-in-out; 
    overflow: hidden !important;
}

/* Hover Effect: Slide in on hover */
.container-wrapper:hover {
    right: 0; 
    
}

/* Icon and Link Styling */
.container-wrapper>div {
    padding: 8px 0px 8px 8px;
    overflow: hidden;
    
}

.container-wrapper>div>a>i {
    border: 1px solid #fff;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #E0E1D9;
}

.container-wrapper>div>a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

/* Text Styling */
.container-wrapper>div>a>div {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    transition: opacity 0.5s ease;
    overflow: hidden;
}

/* Show text on hover */
.container-wrapper:hover > div > a > div {
    opacity: 1;
}

/* Icon Sizes */
.container-wrapper i {
    font-size: 2.5rem;
}

.location-icon i {
    font-size: 2.4rem;
}

.hashtag-icon i {
    font-size: 2.3rem;
}

.calculator-icon i {
    font-size: 2.54rem;
}

.wifi-icon i {
    font-size: 1.9rem;
}

.phone-icon i {
    font-size: 2.1rem;
}


        /* Containers Of Icons */



.calculator-icon:hover {
    background-color: #9B62A4;
    cursor: pointer;
}

.location-icon:hover{
    background-color: #9B62A4;
    cursor: pointer;
}

.hashtag-icon:hover{
    background-color: #9B62A4;
    cursor: pointer;
}

.book-icon:hover{
    background-color: #9B62A4;
    cursor: pointer;
}

.wifi-icon:hover{
    background-color: #9B62A4;
    cursor: pointer;
}

.phone-icon:hover{
    background-color: #9B62A4;
    cursor: pointer;
}
    
        /* Ended */

        /* Four Images Portion */

.middle-portion-four-images-container{
    display: flex;
    padding: 55px 0px;
    justify-content: center;
    gap: 40px;
    opacity: 0.8;
    flex-wrap: wrap;
}

.image-wrapper {
    width: 250px;
    height: 200px;
    position: relative; 
    /* background-color: purple;  */
    display: inline-block;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    filter: none;
}

.paragraph-wrapper h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    color: #71277A;
}

.paragraph-wrapper p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    color: #000;
    font-size: 1.4rem;
    line-height: 2.3rem;
}

.image-wrapper:hover img {
    /* background-color: #701E7D;   */
    transform: scale(1.1);
    /* box-shadow: inset 0 0 20px #00000080;  */
    filter: brightness(0.7) sepia(0.6) hue-rotate(255deg) saturate(2.1);
}

.image-wrapper>a{
    text-decoration: none;
    color: black;
}

.image-three img{
    width: 250px;
    height: 200px;
}

        /* Under the four images and details styling purple portion container */

.purple-portion-main-container-img{
    display: flex;
    flex-direction: column;
    background-color: #701E7D;
    width: 100%;
    height: 100%;
    padding: 60px 0px 80px;
}

.images-container-pu-bg-port{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.image-pu-portion{
    cursor: pointer;
} 

.first-four-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-pu-portion img{
    margin-bottom: 15px;
}

.image-pu-portion h2{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

.image-pu-portion p{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.28rem;
    margin-top: 10px;
    text-align: center;
}

.heading-pu-portion{
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 70px;

}

        /* Ended */

        /* Recognition and Awards Styling */

.awards-recognitions-main-container{
    background-color: #EBEBEB;
    /* height: 300px; */
    width: 100%;
    padding: 30px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.awards-heading{
    color: #71277A;
    margin: 20px 0px 10px;
    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    text-align: center;
}

.image-main-container-flexbox{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.anchor-tag-learn-more a{
    text-decoration: underline;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    color: #71277A;
}

.anchor-tag-learn-more a:hover{
    text-decoration: none;
}

            /* Ended */

            /* Service Desk Part Styling */

.service-desk-main-container-flexbox{
    /* display: flex; */
    padding: 30px 0px;
    /* justify-content: center; */
}

.service-desk-main-container-flexbox h1{
    color: #71277A;
    font-size: 2.4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center !important;
    margin: 20px 0px 10px;
}

.image-wrapper-flexbox-m-container{
    display: flex;
    justify-content: center;
    gap: 35px;
}

        /* Ended */

        /* Second Marquee Started */

.second-maequee-container-mb{
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    background: #f1f1f1;
    border: 1px solid #ddd;
    width: 100%;
    height: 24px;
}

.second-marquee-content{
    display: inline-block;
    padding-left: 100%;
    animation: marquee 140s linear infinite;
    position: absolute;
    top: 4px;
    cursor: pointer;
}

.second-marquee-content p{
    font-size: 1.27rem;
    color: #510051;
    font-weight: 550;
    display: inline;
    margin: 0;
    padding-right: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}
          
@keyframes marquee {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

            /* Ended */

            /* Four Options Styling */

.fo-options-main-contain{
    display: flex;
    justify-content: space-around;
}

.fo-options-main-contain div{
    display: flex;
    flex: 1;    
    cursor: pointer;
}

.fo-options-main-contain h3{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    text-align: center;
    background-color: #701E7D;
    width: 100%;
    border-right: 1px solid #b5b5b5;
    font-size: 1.8rem;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 30px;
}

        /* Ended */

        /* Footer Styling Started */

.footer-container-fluid-mb{
    display: flex;
    padding: 40px 45px;
    background-color: #F2F2F2;
    justify-content: space-around;
}

        /* First COntainer */

.fluid-cont-foot-fir{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    line-height: 25px;
}

.fluid-cont-foot-fir h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.knowledge-centre-head{
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    /* margin-bottom: 10px; */
}

.fluid-cont-foot-fir p{
    color: #1F1E1E;
    font-size: 1.3rem;
}

.ns{
    line-height: 16px;
}

        /* Ended */

        /* Second Container */

.container-fluid-foot-second{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    line-height: 27.5px;
}

.container-fluid-foot-second h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.branch-network-head{
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}

.container-fluid-foot-second p{
    color: #1F1E1E;
    font-size: 1.3rem;
}

.sf{
    line-height: 16px;
}
        /* Ended */

        /* Third Container Styling */

.third-container-fluid-mb{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    line-height: 27.5px;
}

.third-container-fluid-mb h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.branch-network-head{
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}

.third-container-fluid-mb p{
    color: #1F1E1E;
    font-size: 1.3rem;
} 

.third-container-fluid-mb h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.third-container-fluid-mb p{
    color: #1F1E1E;
    font-size: 1.3rem;
}
        /* Ended */

        /* Fourth Container Styling */

.fourth-container-fluid-mb{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    line-height: 27.5px;
}

.fourth-container-fluid-mb h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.fourth-container-fluid-mb p{
    color: #1F1E1E;
    font-size: 1.3rem;
} 

.fourth-container-fluid-mb h2{
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.fourth-container-fluid-mb p{
    color: #1F1E1E;
    font-size: 1.3rem;
}

        /* Ended */

        /* Fifth Container Styling */

.fifth-content-fluid-mb{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    line-height: 27.5px;
}

.fifth-content-fluid-mb h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.fifth-content-fluid-mb p{
    color: #1F1E1E;
    font-size: 1.3rem;
} 

.fifth-content-fluid-mb h2{
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.fifth-content-fluid-mb p{
    color: #1F1E1E;
    font-size: 1.3rem;
}

.show-more{
    font-size: 1.38rem !important;
    font-weight: 600 !important;
}

.sbp{
    line-height: 18px;
}

.sc{
    line-height: 18px;
}

        /* Ended */
        /* Sixth Container Styling */

.sixth-container-fluid-mb{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    line-height: 27.5px;
}

.sixth-container-fluid-mb h3{
    font-weight: 500;
    font-size: 1.5rem;
}

.sixth-container-fluid-mb p{
    color: #1F1E1E;
    font-size: 1.3rem;
    line-height: 18px;
} 

.ev{
    line-height: 18px;
}

.sixth-container-fluid-mb p>i{
    margin-top: 8px;
    font-size: 2.4rem;    
}

.phone-solid-icon-numbers {
    display: flex;
    gap: 5px;
    margin-top: 12px;
}

.phone-solid-icon-numbers i{
    transform: rotate(16deg);
}

.sixth-container-fluid-mb h2{
    font-weight: 500;
    font-size: 1.5rem;
}

.image-wrapper-content-lt{
    display: flex;
    align-items: center;
}
        /* Ended */


        /* Responsive Web Design In Utility Class */